---
const { props } = Astro.props;
const { heroImage, t, align } = props;
---

<section
  class=`w-full flex-1 flex
  ${align==="start"  ?
    "items-start justify-center md:items-center md:justify-start" :
    "items-end justify-center md:items-center md:justify-end"
  }
  overflow-hidden bg-cover`
  style={`background-image: url(/images/heroes/${heroImage})`}
>
  <article
    class="h-[50%] w-auto md:h-auto md:w-[50%] flex-col justify-center items-center"
  >
    <div class="self-center">
      <h1 class="text-5xl">{t.home.hero.title}</h1>
      <h2 class="text-2xl">{t.home.hero.subtitle}</h2>
      <p>{t.home.hero.text}</p>
    </div>
  </article>
</section>
